/* google font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* variable property */
:root {
	--main-color: hsl(247, 74%, 63%);
	--secundary-color: hsl(244, 98%, 80%);
	--ligther-color: hsl(240, 13%, 89%);
	--light-color: hsl(240, 11%, 72%);
	--dark-color: hsl(249, 8%, 34%);

	--font-smaller: 14px;
	--font-bigner: 20px;
}
* {
	font-optical-sizing: auto;
	font-style: normal;

	margin: 0;
	padding: 0;
}

*,
::after,
::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'DM Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.8;
	color: var(--dark-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.25;
	margin: 0 0 0.5em;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2em;
}
.form-box {
	display: flex;
	flex-direction: column;
	/*margin-top: 5em;*/
	border: 8px solid var(--ligther-color);
	border-radius: 15px;
	background-color: hsl(250, 100%, 99%);
}
/* ==> styling proggres */
.form-box .progress {
	position: relative;
	padding: 1em;
}
.logo {
	font-size: 1.75em;
	font-weight: 800;
	color: var(--dark-color);
	padding: 40px 48px;
	text-align: center;
}
.logo span {
	color: var(--main-color);
}

/* ===> styles  progres step */
.progres-step {
	display: flex;
	justify-content: center;
	gap: 2em;
}
.progres-step ul.progres-step {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
}
.progress ul.progres-step li {
	position: relative;
	display: flex;
	align-items: flex-start;
	margin-bottom: 2em;
}
.progress ul.progres-step li > span {
	position: relative;
	width: 40px;
	height: 40px;
	font-size: var(--font-smaller);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1em;
	border-radius: 50%;
	background-color: var(--ligther-color);
	z-index: 1;
}
.progress ul.progres-step li.active > span {
	color: white;
	background-color: var(--main-color);
	border: 4px solid var(--secundary-color);
	z-index: 1;
}
.progress ul.progres-step li p span {
	font-size: var(--font-smaller);
	color: var(--ligther-color);
	display: none;
}
.progress ul li p {
	position: absolute;
	top: -2em;
	font-size: 12px;
}
/* ===> styles form  */
.form-box form {
	width: 100%;
	padding: 3em 1em;
	background-color: hsl(0, 0%, 100%);
	border-radius: 30px 30px 15px 15px;
}
form > div {
	max-width: 400px;
	margin: 0 auto;
}
form > div p {
	color: var(--light-color);
	margin-bottom: 2em;
}
form > div > div:not(.checkbox) {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}
form :where(input, select) {
	height: 40px;
	padding: 0 1em;
	border-radius: 0.4em;
	outline-color: var(--secundary-color);
	border: 1px solid var(--ligther-color);
	background-color: transparent;
}
form label {
	font-size: var(--font-smaller);
	margin-bottom: 0.5em;
	font-weight: 600;
}
form .grouping {
	display: flex;
}
form .grouping input {
	max-width: 70px;
	text-align: center;
	margin-right: 1em;
}
form .checkbox input {
	height: auto;
}

form > div:not(.btn-group) {
	display: none;
}
form > div.active {
	display: block;
	animation: fadeIn 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
form > div .bg-svg{
	width: 60px ;
	height: 50px;
	img{
		width: 100%;
		display: block;
		object-fit: cover;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/* ===> styles button */
.btn-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	margin-top: 2em;
}
.btn-group [class*='btn-'] {
	background-color: var(--main-color);
	color: white;
	padding: 1em 2.5em;
	border: 4px solid var(--secundary-color);
	border-radius: 30px;
	cursor: pointer;
	transition: background-color 300ms, border-color 2ms ease-out;
}
.btn-group [class*='btn-']:disabled {
	background-color: var(--light-color);
	border-color: var(--ligther-color);
	cursor: text;
}
.btn-group [class*='btn-']:hover:not(:disabled) {
	background-color: var(--dark-color);
	border-color: var(--light-color);
}
::placeholder {
	color: var(--light-color);
}
.btn-group .btn-submit,
.form-three.active ~ .btn-group .btn-next {
	display: none;
}
.form-three.active ~ .btn-group .btn-submit {
	display: block;
}
.form-three.active ~ .btn-group {
	justify-content: space-between;
}
/* ===> styles responsive */
@media screen and (min-width: 768px) {
	.form-box {
		flex-direction: row;
	}
	.form-box .progress {
		flex: 1 0 35%;
		min-width: 300px;
		padding: 3em;
	}

	.logo {
		margin: -48px -48px 48px;
	}

	.progress ul.progres-step {
		flex-direction: column;
		gap: 0;
	}

	.progress ul.progres-step li:not(:last-child)::before {
		content: '';
		position: absolute;
		left: 20px;
		top: 30px;
		width: 2px;
		height: 65px;
		background-color: var(--ligther-color);
	}
	.form-box form {
		border-radius: 0 15px 15px 0;
	}
	.progress ul li p {
		position: relative;
		top: auto;
		font-size: inherit;
	}
	.progress ul.progres-step li p span {
		display: block;
	}
}
